{# templates/form/compose_theme.html.twig #}

{% block address_entry_widget %}
    {#
    Each address entry is a single <input> that Tom Select attaches to.
    The address_autocomplete controller initialises Tom Select on connect().
    #}
    <div class="relative flex-1 min-w-0"
         data-controller="address-autocomplete">

        {{- form_widget(form.address, {
            attr: {
                'data-address-autocomplete-target': 'input',
            }
        }) -}}

    </div>
{% endblock %}

{% block address_entry_row %}
    {{- block('address_entry_widget') -}}
{% endblock %}

{% block email_widget %}
    <input
        type="text"
        autocomplete="off"
        autocapitalize="off"
        autocorrect="off"
        spellcheck="false"
        {{ block('widget_attributes') }}
        {% if value is not empty %}value="{{ value }}"{% endif %}
        placeholder=""
        class="flex-1 bg-transparent outline-none text-sm
               text-gray-800 dark:text-gray-100
               placeholder-gray-400 dark:placeholder-gray-500
               min-w-0"
    />
{% endblock %}

{% block text_widget %}
    <input
        type="text"
        autocomplete="off"
        autocapitalize="off"
        autocorrect="off"
        spellcheck="false"
        {{ block('widget_attributes') }}
        {% if value is not empty %}value="{{ value }}"{% endif %}
        placeholder=""
        class="flex-1 bg-transparent outline-none text-sm
               text-gray-800 dark:text-gray-100
               placeholder-gray-400 dark:placeholder-gray-500
               min-w-0"
    />
{% endblock %}
